@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

}

.input-label {
    font-size: 16px;
    font-weight: 500;
}

#container {
    background: #346250;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .upload-form {
    background-color: #f9efe8;
    padding: 30px 30px 80px;
    border-radius: 10px;
}

#container .upload-form .title {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#container .upload-form form {
    display: flex;
    width: 900px;
}

.upload-form form .col-left {
    width: 50%;
}

.upload-form form .col-right {
    width: 50%;
}

.input-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}

.input-field label {
    font-size: 16px;
    font-weight: 500;
}

.input-field input {
    margin-right: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 220px;
    height: 25px;
    padding: 0 10px;
}

.description {
    display: grid;
    margin-bottom: 15px;
}

.description label {
    margin-bottom: 10px;
}

.description textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100px;
    resize: none;
}

.input-image {
    padding: 7px 0;
    display: grid;
}

input.upload-btn {
     position: absolute;
     bottom: 98px;
     left: 654px;
     padding: 10px 75px;
     border: none;
     border-radius: 6px;
     background-color: #346250;
     color: #fff;
     font-size: 17px;
 }

input.upload-btn:hover {
    background-color: #24483a;
    cursor: pointer;
}
input.edit-btn {
    position: absolute;
    bottom: 98px;
    left: 800px;
    padding: 10px 75px;
    border: none;
    border-radius: 6px;
    background-color: #346250;
    color: #fff;
    font-size: 17px;
}

input.edit-btn:hover {
    background-color: #24483a;
    cursor: pointer;
}