@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.heading {
    font-size: 60px;
    color: white;
}
.heading span {
    font-style: italic;
    font-size: 30px;
}
.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}
.profile {
    flex-basis: 260px;
}
.profile .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}
.profile:hover .profile-img {
    filter: grayscale(0);
}

.user-name {
    margin-top: 30px;
    font-size: 20px;
}

.profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
}

.profile p {
    font-size: 16px;
    margin-top: 20px;
}
.container {
    margin: 20px 40px;
    color: white;
}
body {
    background-color: #28aaaa;
    /*background-image: url(../image/bubble_background.png)*/;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* Navigation bar starts */

.navbar{
    top:0;
    position: fixed;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: 'Roboto', sans-serif;    
}
.logo   {
    color: white;
    letter-spacing: 3px;
    align-items: center;
    text-transform: uppercase;
    font-size: 22px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.nav-links{
    display: flex;
    width: 800px;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    height: 8vh;
    display: block;
    text-align: center;
    padding-top: 18px;            /* New here*/
    width: 193px;
}
.nav-links li a:hover:not(.active){
    background: rgb(128, 124, 124);
    color: black;
    transition: 0.5s;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
    .profiles {
        flex-direction: column;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* Navigation bar ends */

/* Home starts */
#home{
}
.home{
    width: 100%;
    min-height: 950px;
    background-image: url("../image/bubble_background.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.home_content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    z-index: 2;
}
.home .home_content p{
    font-size: 40px;
}
.home .home_content h3{
    font-size: 60px;
}

home_container {
    width: 100%;
    min-height: 800px;
    background-image:url("../image/bubble_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.introduce{
    font-family: 'Roboto', sans-serif ;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 17px;
    padding: 70px 0;
    text-align: center;
    padding-top: 175px;
}

/* Home ends */

/* Members starts*/

#members{
    
}
.members_container{
    padding-top: 100px;
    width: 100%;
    height: 800px;
    background-color:rgba(165, 164, 165, 0.37);
}
.members{
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}
.members div{
    border: 2px solid black;
    width: 300px;
    height: 500px;
    align-items: center;
    border-radius: 5%;
}
.members h1{
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold ;
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
}
.quang img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 50%;
    margin-top: 30px;
}
.quang{
    text-align: center;
}
.nhan img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 50%;
    margin-top: 30px;
}
.nhan{
    text-align: center;
}
.luan img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 50%;
    margin-top: 30px;
}
.luan{
    text-align: center;
}
.btn{
    border: 2px solid black;
    border-radius: 40px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
    padding: 5px 15px;
    background: rgba(165, 164, 165, 0.37);
}
.btn:hover{
    background: black;
    color: white;
    transition: 0.5s;
}
/* Members ends*/

/* Exercises starts*/
#exercises{

}
.exercises_container{
    background-image: url("../image/exercise_wall.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.exercises{
    font-family: 'Roboto',sans-serif;
    
    text-transform: uppercase;
    border: 3px solid black;
    background: white;
    opacity: 0.75;
    width: 200px;
    height: 250px;
    text-align: center;
}
.exercises h1{
    letter-spacing: 3px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    height: 50px;
}
.exercises a{
    text-decoration: none;
    letter-spacing: 3px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px ;
    font-weight: bolder;
    color: black;
    background: linear-gradient(to right, black 50%, white 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all 0.5s ease-out;
    align-items: center;
}
.exercises a:hover{
    color: white;
    background-position: left bottom;
    
}